.create-profile-layout {
    width: 100%;
}

.left {
    width: 40%;
}

.i {
    display: flex;
    align-items: center;
    gap: 10px;
}

.i:hover {
    color: #ea2340;
}

.left1 {
    width: 100%;
}

.left input {
    width: 100%;
    margin: 5px 0;
}

.left textarea {
    width: 100%;
    border: none;
}

.left1 input {
    width: 100%;
}

.img-space {
    width: 50%;
}

.right {
    width: 40%;
}

.right input {
    margin: 5px 0;
    width: 100%;
}

#form-section1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.store-image {
    width: 40%;
}

.profile-section1 {
    display: flex;
    justify-content: space-between;
}

.view-profile-layout {
    width: 90%;
    margin: auto;
}
.w{display: flex;
justify-content: space-between; align-items: center;}

.success {
    background: rgb(2, 214, 48);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    gap: 20px;
    z-index: 1;
    bottom: 2%;
    animation: slidein 1s ease-in forwards;
}

@keyframes slidein {
    0%{
        right: -1%;
    }100%{
        right: 2%;
    }
}
.dashboard-main {
    width: 100%;
    padding: 10px 30px;
    overflow-y: scroll;
}

.un-ordered {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.un-ordered li a {
    text-decoration: none
}

.navigation-opened {
    width: 50%;
    min-height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    z-index: 1;
    background: #121216;
    color: #fff;
}

.all input {
    padding: 10px;
}

.navigation-closed {
    background: #121216;
    z-index: 1;
    max-width: 10%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
}

.upload-btn {
    width: 53%;
}

#icons {
    font-size: 25px;
    padding: 3px;
    border-radius: 5px;
}

.pannel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.nav1 {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
}

.nav-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.first-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first-nav li:hover {
    color: red;
}

.logo1 {
    width: 37px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 10px 0;
}

.m {
    margin: 0 0 30px 0;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dash-btn {
    position: absolute;
    bottom: 10%;
}

.y {
    color: rgb(146, 146, 146);
}

.empty {
    width: 50%;
    position: absolute;
    right: 0;
    height: 50%;
    background: #d3d3d3;
}

.all {
    width: 80%;
}

.open-nav {
    padding: 0 20px;
    font-size: 30px;
}

.wrap1-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrap-form2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-image {
    max-width: 100px;
    border: 4px #ea2340 solid;
    height: 100px;
    border-radius: 50%;
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    gap: 20px;
    margin-top: 10%;
}

.close-x {
    position: absolute;
    right: 4%;
    top: 0;
}

.header1 {
    padding: 20px;
}

.btn-logout:hover {
    color: red;
}

.icons1 {
    color: red;
    font-size: 30px;
    text-align: center;
}

#icons1 {
    margin-bottom: 10px;
}

.dashboard-layout {
    position: relative;
    display: flex;
    height: 100vh;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #6464641f;
    padding: 10px;
    border-radius: 10px;
}

#product-image {
    max-width: 200px;
    border-radius: 10px;
}

.icon-e {
    font-size: 30px;
    font-weight: bold;
}

.cong {
    display: flex;
    gap: 20px;
    align-items: center;
}

.detail-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.fabric-img {
    width: 50%;
}

.product-post2 {
    width: 80%;
    margin: 2% auto;
    display: flex;
}

.show-img {
    width: 30%;
}

.product-image2 {
    width: 200px;
}

@media (max-width:800px) {
    .card {
        flex-direction: column;
        width: 90%;
    }

    .navigation-opened {
        width: 80%;
        position: absolute;
        justify-content: space-between;
    }

    .product-img {
        width: 20%;
    }

    .product-post2 input {
        width: 90%;
    }

    .profile-image {
        width: 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-layout {
    position: relative;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin: auto;
    
}

.profile-layout2 {
    height: 100vh;
    justify-content: space-between;
    display: flex;
}

.auth-side-img2 {
    background: url('../assets/waves-8236919_1280.webp');
    width: 30%;
    min-height: 100%;
}

.profile-data {
    width: 100%;
}

.navigation-closed .m h3 {
    display: none;
}

.form-section {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-column {
    flex: 1;
    min-width: 300px;
}

.product-wrap-profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card {
    width: 30%;
}

label {
    display: block;
    margin-bottom: 15px;
}

label p {
    margin: 0 0 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #1b1b1b;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d80202;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    .auth-side-img {
        height: 150px;
    }

    .product-card {
        width: 45%;
    }
}

@media (max-width: 630px) {
    .profile-layout2 {
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    .auth-side-img2 {
        height: 100px;
        width: 100%;
    }

    .form-column {
        min-width: 100%;
    }

    .navigation-closed {
        padding: 4px;
    }

    .auth-side-img {
        height: 100px;
    }

    .product-card {
        width: 50%;
    }

    .profile-wrap {
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .left input {
        width: 90%;
    }

    .right {
        width: 100%;
    }

    .right input {
        width: 90%;
    }

    .form-section {
        flex-direction: column;
    }

    .left textarea {
        width: 90%;
    }
}

.product-post {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}


.form-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.form-section {
    flex: 1;
    min-width: 300px;
}

.image-preview {
    text-align: center;
    margin-bottom: 20px;
}

.fabric-img {
    max-width: 100%;
    height: auto;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.file-input{
    max-width:200px ;
}
.text-input,
.file-input,
.textarea-input,
.currency-input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.upload-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .upload-btn {
        margin-top: 10px;
    }
}

.auth-side-img {
    flex: 1;
    background: url('/path-to-your-image.jpg') no-repeat center center;
    background-size: cover;
    min-height: 400px;
}

.profile-form-section {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.profile-preview-img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

.profile-form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-form-column {
    flex: 1;
    min-width: 300px;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-label2 {
    display: flex;
    flex-direction: column;
}

.text-input,
.file-input,
.textarea-input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
}
.upload-btn2{
    float: right;
    width: 200px;
    background: #000000;
}
.form-label2{
    display: flex;
    flex-direction: row;
    align-items: center;
gap: 20px;
}
.submit-btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

.submit-btn2 {
    width: 50%;
    cursor: pointer;
}

.btn-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-subtitle {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .profile-layout {
        flex-direction: column;
    }

    .auth-side-img {
        min-height: 200px;
    }

    .submit-btn {
        margin-top: 10px;
    }
}